.AppMain {
  text-align: center;
  height: 100vh;
}

.BackgroundMain {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.BackgroundBlur {
  height: 100%;
  width: 100%;
  filter: blur(2px);
  position: fixed;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

.ChatbotIconMain {
  height: 6em;
  position: fixed;
  bottom: 1em;
  right: 2.5em;
}

.ChatbotIconBlur {
  height: 6em;
  position: fixed;
  bottom: 1em;
  right: 2.5em;
  filter: blur(2px);
}

body {
  background-image: url("../images/ASDA_background.png");
  background-size: cover;
  background-position: center;
  background-position-y: top;
  /* Add more styles as needed */
}
.load {
  height: 6em;
  position: relative;
}

.ProfileIcon {
  height: 4em;
  position: fixed;
  top: 0em;
  right: 2.5em;
}
