.AppMain {
  text-align: center;
  height: 100vh;
}

.BackgroundMain {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
}

.ChatbotIconMain {
  height: 6em;
  position: fixed;
  bottom: 1em;
  right: 2.5em;
}

body {
  background-image: url("../images/ASDA_background.png");
  background-size: cover;
  background-position: center;
  /* Add more styles as needed */
}