.ChatInput {
  font-size: 1em;
  display: block;
  margin: auto;
  margin-bottom: 4%;
  margin-top: 4%;
  height: 2em;
  border-radius: 0.5em;
  padding: 5px;
  width: 70%;
  padding-left: 3%;
  border: none;
  box-shadow: 0 0 20px rgb(187, 184, 184);
  background-color: white;
}

.InputArea {
    position: relative;
    height: 100%;
}

.Form {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.VoiceImage {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2em;
    width: 2em;
}

.SubmitImage {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2em;
    width: 2em;
}
