.ChatArea {
  height: 76%;
  width: 100%;
  position: relative;
  margin: auto;
  top: 2.8em;
}

.ChatBotIcon2 {
  height: 4em;
  width: 4em;
  position: absolute;
  left: 2em;
  bottom: 0;
}

.ChatInput {
  font-size: 1em;
  display: block;
  margin: auto;
  margin-bottom: 4%;
  margin-top: 4%;
  height: 2em;
  border-radius: 0.5em;
  padding: 5px;
  width: 70%;
  padding-left: 3%;
  border: none;
  box-shadow: 0 0 10px rgb(153, 151, 151);
  background-color: white;
}

.InputArea {
  position: relative;
  height: 100%;
}

.Form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.VoiceImage {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4em;
  width: 4em;
  margin-bottom: 2.2em;
  margin-left: 2em;
}

.SubmitImage {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5.5em;
  width: 5.5em;
  margin-bottom: 3.2em;
  margin-right: 3.2em;
}

.Load1Heading {
  color: rgb(82, 82, 82);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  padding-top: 10px;
  font-size: 3em;
  margin-bottom: 15%;
}
p{
  font-weight: 500;
  font-size: 1.75em;
  color: rgb(82, 82, 82);
}