.App {
  text-align: center;
  height: 90vh;
}

.Background {
  height: 100%;
  width: 100%;
  filter: blur(2px);
  position: fixed;
  left: 0;
  top: 0;
}

.ChatbotIcon {
  height: 6em;
  position: fixed;
  bottom: 1em;
  right: 2.5em;
  filter: blur(2px);
}

.Box {
  background-color: white;
  box-shadow: 0 0 0 1px rgb(54, 53, 53);
  min-height: 39em;
  position: relative;
  border-radius: 40px;
  width: 90%;
  min-width: 300px;
  top: 0.7em;
  left: 5%;
}

.Close {
  position: absolute;
  left: 2%;
  top: 2%;
  height: 2.5em;
}

.LoginBox {
  background-color: white;
  box-shadow: 0 0 0 1px rgb(54, 53, 53);
  min-height: 34em;
  position: relative;
  border-radius: 40px;
  width: 50%;
  min-width: 300px;
  top: 2.5em;
  left: 25%;
}

.LoginHeading {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  padding-top: 6%;
  font-size: 3em;
  font-style: italic;
  margin-bottom: 8%;
}

.InputBox {
  font-size: 1em;
  display: block;
  margin: auto;
  margin-bottom: 4%;
  width: 60%;
  border-radius: 1em;
  padding: 1%;
  padding-left: 3%;
  border: solid 1px black;
}

.LoginButton {
    font-size: 1.3em;
    border-radius: 0.5em;
    box-shadow: 0 0 0 1px black;
    padding: 0.4em;
    border-style: none;
    color: black;
    background-color: rgb(120, 190, 33);
    font-family: Arial, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
}

.SignUpHeading {
  color: black;
  font-family: "Noto Sans", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  padding-top: 1%;
  font-size: 2em;
  margin-bottom: 2%;
}

.SignUpButton {
  font-size: 1.6em;
  border-radius: 0.5em;
  box-shadow: 0 0 0 1px black;
  padding: 0.5em;
  border-style: none;
  color: black;
  background-color: rgb(120, 190, 33);
  font-family: Arial, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.SignUpButton:hover {
  background-color: rgb(107, 170, 29);
}

.LoginButton:hover {
    background-color: rgb(107, 170, 29);
}

.GuestHeading {
  color: black;
  margin-top: 2em;
  font-size: 1.5em;
}

.GuestHeading:hover {
  text-decoration: underline;
  cursor: pointer;
}
