.App {
  text-align: center;
  height: 90vh;
}

.LoginBox {
  background-color: white;
  box-shadow: 0 0 30px rgba(212, 212, 212, 0.7);
  position: absolute;
  border-radius: 0.5em;
  width: 50%;
  min-width: 300px;
  max-height: 34em;
  top: 0; bottom: 0;
  margin: 5% 25%;
}

.LoginButton {
  font-size: 1.3em;
  border-radius: 0.5em;
  box-shadow: 0 0 30px rgba(120, 190, 32, 0.4);
  padding: 0.4em;
  border-style: none;
  color: white;
  background-color: rgb(120, 190, 33);
  font-family: Arial, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
}

.LoginHeading {
  color: rgb(48, 48, 48);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  padding-top: 30px;
  font-size: 3em;
  margin-bottom: 30px;
}

.InputBox {
  font-size: 1em;
  display: block;
  margin: auto;
  margin-bottom: 4%;
  height: 15px;
  width: 60%;
  border-radius: 0.5em;
  padding: 5px;
  padding-left: 3%;
  border: solid 1px black;
}

.SignUpHeading {
  color: rgb(48, 48, 48);
  font-family: "Noto Sans", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  padding-top: 1%;
  font-size: 2em;
  margin-bottom: 15px;
}

.SignUpButton {
  font-size: 1.6em;
  border-radius: 0.5em;
  box-shadow: 0 0 30px rgba(120, 190, 32, 0.4);
  padding: 0.5em;
  border-style: none;
  color: white;
  background-color: rgb(120, 190, 32);
  font-family: Arial, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.SignUpButton:hover {
  background-color: rgb(107, 170, 29);
}

.LoginButton:hover {
  background-color: rgb(107, 170, 29);
}

.GuestHeading {
  color: rgb(48, 48, 48);
  margin-top: 1.5em;
  font-size: 1.5em;
  padding-bottom: 60px;
}

.GuestHeading:hover {
  text-decoration: underline;
  cursor: pointer;
}