
.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image {
    padding-top: 20%;
    width: 50%;
    height: auto;
    transition: transform 2s ease; /* Add a transition for smooth animation */
    transform: translateX(100%); /* Initial position, hidden to the left */
  }
  
  .image.uncover {
    transform: translateX(0); /* Final position, fully revealed */
  }
  